<%= form_with(model: zine) do |form| %>
  <% if zine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zine.errors.count, "error") %> prohibited this zine from being saved:</h2>

      <ul>
        <% zine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
