<p id="notice"><%= notice %></p>

<h1>Zines</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zines.each do |zine| %>
      <tr>
        <td><%= zine.title %></td>
        <td><%= zine.description %></td>
        <td><%= link_to 'Show', zine %></td>
        <td><%= link_to 'Edit', edit_zine_path(zine) %></td>
        <td><%= link_to 'Destroy', zine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zine', new_zine_path %>
