<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @zine.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @zine.description %>
</p>

<%= link_to 'Edit', edit_zine_path(@zine) %> |
<%= link_to 'Back', zines_path %>
